html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

li {
  list-style: none;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
}

li:hover {
  background-color: #e7ebff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

p,
h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
}


.apexcharts-legend-series {
  flex: 1;
}

.apexcharts-legend-text {
  font-size: 8px !important;
}

.apexcharts-legend-marker {
  width: 8px !important;
  height: 8px !important;
}

.selected .DashboardLogo {
  stroke: transparent;
}


.selected:hover .DashboardLogo {
  stroke: #53545C;
}


.selected .navLogo path[stroke="#53545C"] {
  stroke: white;
}

.selected:hover .navLogo path[stroke="#53545C"] {
  stroke: #53545C;
}

.selected .navText {
  color: white;
}

.selected:hover .navText {
  color: #53545C;
}

.selected {
  background-color: #5570F1;
}

.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}


.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.main {
  padding-left: 250px;
  transition: 0.3s ease-in-out;

}

.sidebar-collapse {
  width: 90px !important;
  padding: 10px 22px 10px 22px !important;
}

.main-collapse {
  padding-left: 90px;
}

.navbar-collapse {
  padding-left: 90px !important;
}

.sidebar-collapse .navText {

  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.sidebar-visible .navText {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.sidebar-collapse .navLogo,
.sidebar-collapse .DashboardLogo {
  margin-right: 0px !important;
}

.sidebar-collapse li {
  height: 43px !important;
  width: 43px !important;
}

.sidebar-collapse .counter {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}

.sidebar-collapse .linkWrap {
  padding-right: 12px !important;
}

.sidebar-collapse .giftText {

  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.sidebar-visible .giftText {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.sidebar-collapse .giftTextAcc {

  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.sidebar-visible .giftTextAcc {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.sidebar-collapse .logoutText {

  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.sidebar-visible .logoutText {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.sidebar-collapse .navText {

  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.sidebar-visible .navText {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.sidebar-collapse .rightArrow {

  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.sidebar-visible .rightArrow {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.sidebar-collapse .logoText {

  opacity: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

.sidebar-visible .logoText {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.sidebar-collapse .contactBtn {
  height: 45px !important;
  width: 43px !important;
}

.sidebar-collapse .contactLogo {
  margin-right: 0 !important;
}

.sidebar-collapse .contactWrap {
  height: 45px !important;
  width: 43px !important;
}

.sidebar-collapse .giftBtnWrap {
  padding: 10px 10px 10px 10px !important;

}

.sidebar-collapse .giftBtn {
  height: 45px !important;
  width: 43px !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  padding-right: 10px;
}

::-webkit-scrollbar-track {
  background: #e8ecff;
}

::-webkit-scrollbar-thumb {
  background: #91a3ff;
  border-radius: 5px;
  -webkit-animation: scroll 3s;
  animation: scroll 3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #5570F1;
  transition: 3s ease;
}



@media screen and (max-width: 768px) {
  .main {
    width: 120vh;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #F4F5FA;
    ;
  }
}